<!--<div class="collapse navbar-collapse"> -->
    <ul class="nav nav-sidebar">
        <li class="nav-title">PET STORE OPTIONS</li>
        <li >
        <a class="menu" routerLink="/categories" routerLinkActive="active"  >
            <i class="glyphicon glyphicon-tasks" aria-hidden="true"></i>
            Categories</a>
        </li>
        <li>
        <a class="menu" routerLink="/products" routerLinkActive="active" >
            <i class="glyphicon glyphicon-th" aria-hidden="true"></i>
            Products</a>
        </li>
        <li>
        <a class="menu" routerLink="/order" routerLinkActive="active">
            <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
            Order</a>
        </li>
    </ul>
<!--</div>-->